language: ruby
rvm:
  - 2.1.0
  - 2.0.0
  - 1.9.3
before_install:
  - sudo apt-get install -y libicu-dev
install:
  - travis_retry bundle config build.nokogiri --use-system-libraries
  - travis_retry bundle install
script: rake test
